body {
    background-color: #f0f0f0;
}

input {
    margin: 5px;
}

div {
    padding-bottom: 10px;
}

.header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.income {
    padding-top: 15px;
    cursor: pointer;
    color: #0000FF;
    top: 0;
    position: fixed;
    margin-left: 400px;
}

.incomeCont {
    border: 1px solid #000000;
    width: 200px;
    display: none;
}

.urls {
    padding-top: 15px;
    cursor: pointer;
    color: #0000FF;
    top: 0;
    position: fixed;
    margin-left: 600px;
}

.urlsCont {
    border: 1px solid #000000;
    width: 200px;
    display: none;
}

.users {
    float: right;
    padding-right: 50px;
}

.shareBlock {
    width: 400px;
    border: 1px inset #fafafa;
    padding: 10px;
    display: none;
}

.shareTrig {
    font-size: 20px;
    color: #00a;
    font-family: cursive;
    cursor: pointer;
    margin-top: 100px;
}
